body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #efefef;
}

path {
  transform-origin: center;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.letter {
  transform: translate(0, 200px);
}

$colors: [#11312F, #11818B, #07C9A9, #3BF75D, #AFFE6D];
$sizes: [3.5, 3, 2.5, 2, 1.5, 1];

@for $i from 1 through 5 {

  .group#{$i} {
    fill: nth($colors, $i);
  }
}